html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

.opt {
  color: #70ad55;
}

input,
textarea,
select {
  border-color: #6e8c62;
}

textarea {
  height: 10em;
}

hr {
  border-color: rgba(112, 173, 85, .3);
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
